/* Body */

body {
    font-family: "Roboto", sans-serif;
    color: $first-color-text;
    background-color: $first-bg-color;
    
  }
  
  .pages {
    list-style-type: none;
  }
  
  .section{
    padding-top: 94px;
    padding-bottom: 94px;
  }


/* Main */
.main {
    margin: 0;
  }
  